.p{
    color: black;
    font-weight: 100%;
    font-size: 100%;
    text-align: justify;
}

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    font-size: 50;
    text-align: center;
}