<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/recetas"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-avatar >
            <ion-img src="/assets/paulocantante.jpg"></ion-img>
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    
    
      
    </ion-header>
    
  </ion-toolbar>
</ion-header >


<ion-content class="ion-padding" color="success">

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/MayonesaVegana.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>Mayonesa Vegana</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ ¼ taza de aquafaba (líquido de cocción de garbanzos)<br><br>
      ✓ 1 cdta vinagre blanco<br><br>
      ✓ ½ cdta de Sal de Mar Gourmet<br><br>
      ✓ 1 cdta de jugo de limón<br><br>
      ✓ 2 cdtas de Mostaza Molida Gourmet o mostaza Dijon<br><br>
      ✓ ¾ taza aceite vegetal<br><br>
      ✓ ½ cdta azúcar (opcional)<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>


  1. En un vaso alargado, apto para batidora de inmersión, mezclar el aquafaba, vinagre, Sal de Mar, jugo de limón, Mostaza Molida y el azúcar.<br><br>
  2. Mezclar con la batidora hasta unificar. Luego, sin dejar de batir, echar lentamente el aceite mediante un chorro constante pero bien fino. 
  Deberían demorarse cerca de 5 minutos en verter todo el aceite. Luego de esto, la mezcla debería emulsionar y espesar.<br><br>
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b>10 MINUTOS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/lecheasadavegana.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>LECHE ASADA VEGANA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ ½ taza de azúcar<br><br>
      ✓ 3 tazas de leche de almendras o de coco<br><br>
      ✓ 6 cucharadas de maple o agave<br><br>
      ✓ ½ taza de maicena<br><br>
      ✓ 3 cucharadas de agua<br><br>
      ✓ 1 cucharadita de Esencia de Vainilla<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        PREPARACIÓN<br><br>


        1. Poner el azúcar en una olla y cocinar a fuego medio alto hasta tener un caramelo. Vaciar el caramelo en 4 fuentecitas o potes individuales (resistentes al calor). Reservar.<br><br>
        2. En una olla, calentar la leche vegetal junto al maple o agave. Por otro lado, disolver la maicena en agua y luego agregar a la olla con la leche. Cocinar revolviendo hasta que la mezcla haya espesado. Apagar el fuego, agregar la esencia de vainilla, revolver bien y dividir en la potes con el caramelo.<br><br>
        3. Refrigerar al menos 3 horas. Para servir, pasar un cuchillo por los bordes y luego dar vuelta sobre un plato.<br><br>
        </b></p><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/panarabe.png"></ion-img><br>
      <ion-card-title class="titulo"><b>PAN ÁRABE PLANO</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ 750 gr harina<br><br>
      ✓ 1 ½ cucharaditas de Sal de Mar Gourmet<br><br>
      ✓ 1 cucharadita de Comino Molido Gourmet<br><br>
      ✓ 1 cucharadita de azúcar<br><br>
      ✓ 7 gr levadura instantánea<br><br>
      ✓ 2 cucharadas de aceite de oliva, más para engrasar<br><br>
      ✓ 400 ml de agua tibia<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>


        1. Mezclar la harina, sal de mar, comino, azúcar y levadura. Agregar el agua tibia hasta formar una masa blanda pero no pegajosa. Amasar 10 minutos en el mesón.<br><br>

        2. Dejar reposar la masa por una hora, tapada en un lugar tibio hasta que la masa doble su tamaño.<br><br>

        3. Pincelar una bandeja de horno con aceite. Amasar la masa por un par de minutos y luego dividir en 16 pedazos. Uslear cada pedazo hasta tener un circulo de 15 cm; ponerlos en la lata, taparlos y dejar leudar por 20 minutos.<br><br>

        4. Calentar un sartén con aceite. Cocinar el pan por ambos lados, tapando el sartén, hasta que el pan esté dorado por ambos lados.<br><br>
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b>1 HORA 40 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>6 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/spaghettiv.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>ZAPALLO SPAGHETTI CON TOMATE CHERRY Y ALBAHACA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ 1 zapallo spaghetti<br><br>
      ✓ 2 cdas aceite de oliva y algo más para el final<br><br>
      ✓ Sal de Mar Gourmet a gusto<br><br>
      ✓ 1 cdta Pimienta Limón Gourmet<br><br>
      ✓ 10 tomates cherry en mitades<br><br>
      ✓ Hojas de albahaca<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Parte el zapallo a la mitad con cuidado.<br><br>
        2. Con una cuchara, quita totalmente las semillas y la fibra en las que se encuentran.<br><br>
        3. Frota el zapallo con aceite de oliva, Sal de Mar y Pimienta Limón.<br><br>
        4. Hornea el zapallo a 200°C por 30-45 minutos o hasta que puedas insertar un cuchillo con facilidad.<br><br>
        5. Retira el zapallo del horno. Con un tenedor y agarrándolo con cuidado, deshiláchalo. Vas a ver que se forma como una “pasta”.<br><br>
        6. Mezcla con más aceite de oliva, Sal de Mar, Pimienta Limón, tomates cherry en mitades y albahaca.<br><br>
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 60 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>2 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  
</ion-content>