
<ion-header>
  <ion-toolbar>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-avatar >
            <ion-img src="/assets/paulocantante.jpg"></ion-img>
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    
    
      
    </ion-header>
    <ion-buttons slot="end">
      <ion-icon (click)="openMenu()" style="font-size: 40px;" name="fast-food-outline"></ion-icon>
      
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="warning">
  <ion-title class="ion-padding"><ion-icon slot="start" name="mail-unread-outline"></ion-icon><b>Ingresa tu receta</b></ion-title>
  <form id="form">
    <ion-item background color="black">
      <ion-label position="floating" ><b>Nombre Receta</b></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item background color="black">
      <ion-label position="floating" ><b>Ingredientes</b></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item background color="black">
      <ion-label position="floating" ><b>Preparación</b></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item background color="black">
      <ion-label position="floating" ><b>Tiempo</b></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item background color="black">
      <ion-label position="floating" ><b>Cantidad (personas, etc.)</b></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <br><br>
   
    
      <ion-item background color="warning">
        <ion-label><b>Categorías</b></ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="a">Vegano</ion-select-option>
          <ion-select-option value="b">Vegetariano</ion-select-option>
          <ion-select-option value="c">Salado</ion-select-option>
          <ion-select-option value="d">Dulces</ion-select-option>
        </ion-select>
      </ion-item>
    
    <br><br>

    <ion-button expand="block" shape="round" background color="tertiary" routerLink="/inicio"><ion-icon slot="start" name="paper-plane-outline"></ion-icon>Enviar</ion-button>
    <br><br>
  </form>
</ion-content>
