<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/recetas"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-avatar >
            <ion-img src="/assets/paulocantante.jpg"></ion-img>
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    
    
      
    </ion-header>
    
  </ion-toolbar>
</ion-header >


<ion-content class="ion-padding" color="medium">
  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/quiche.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>QUICHE VEGETARIANO CON MASA DE QUINOA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      <b>Para la masa:</b><br>

      ✓ 1 cda aceite de oliva<br><br>
      ✓ 1 taza quinoa tricolor o blanca<br><br>
      ✓ 1 1/4 taza agua<br><br>
      ✓ Sal de Mar a gusto<br><br>
      ✓ Pimienta Negra Molida a gusto<br><br>
      

      <b>Para el relleno:</b><br>

      ✓ 2 cdas aceite de oliva<br><br>
      ✓ 1 pimentón rojo picado en cubitos<br><br>
      ✓ 1 cebolla morada pequeña en pluma delgada<br><br>
      ✓ 1 zapallo italiano / zucchini pequeño, cortado en medias lunas delgadas<br><br>
      ✓ 1 cda Pimentón Ahumado<br><br>
      ✓ 2 huevos<br><br>
      ✓ 175ml crema de leche<br><br>
      ✓ 125ml leche<br><br>
      ✓ 70g queso mozzarella rallada<br><br>
      ✓ Sal de Mar  a guso<br><br>
      ✓ Pimienta Negra Molida a gusto<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>


        Para la masa:<br><br>

      1. Precalentar una olla pequeña a fuego medio. Agregar el aceite y la quinoa y mezclar por aproximadamente 1 minuto.<br><br>
      2. Agregar la Sal de Mar, Pimienta Negra y agua. Mezclar.<br><br>
      3. Una vez que rompa hervor, bajar el fuego al mínimo y tapar la olla.<br><br>
      4. Cuando se haya secado por completo el agua, luego de 15-20 minutos, apagar el fuego.<br><br>
      5. Inmediatamente verter la quinoa caliente sobre un molde para quiche engrasado.<br><br>
      6. Presionar la quinua en la base y costados para que quede bien apretado.<br><br>
      7. Hornear en un horno precalentado a 180°C por 20-30 minutos o hasta que esté dorada. Reservar hasta que esté totalmente fría antes de ponerle el relleno.<br><br>
      

      Para el relleno:<br><br>

      1. Precalentar un sartén a fuego medio-alto.<br><br>
      2. Agregar el aceite de oliva, la cebolla, el Pimentón Ahumado y el pimentón. Cocinar hasta que la cebolla se ponga suave y se dore.<br><br>
      3. Agregar el zapallo italiano y cocinar por 10-15 minutos o hasta que haya botado todo el líquido y éste se evapore. Debería quedar todo bastante reducido. Dejar enfriar por completo.<br><br>
      4. Mezclar las verduras cocidas con el resto de los ingredientes y verter sobre el molde.<br><br>
      5. Cocinar en un horno precalentado a 140°C por 35-45 minutos o hasta que esté dorado encima.<br><br>
      6. Dejar que se enfríe casi a temperatura ambiente antes de cortarlo para que no se desmorone.<br><br>
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b>75 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>6 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/teriyaki.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>VERDURAS TERIYAKI</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

 
      ✓ 1 ½ cucharada de aceite maravilla u oliva<br><br>
      ✓ 1 cucharadita de aceite de sésamo<br><br>
      ✓ ½ brócoli cortado<br><br>
      ✓ ½ taza de agua<br><br>
      ✓ 1 cucharada de jengibre rallado<br><br>
      ✓ 3 cebollines picados (guardar la parte verde para decorar)<br><br>
      ✓ 1 taza de tiras de pimentón: rojo, verde y amarillo<br><br>
      ✓ 200 gr de champiñones, partidos por la mitad<br><br>
      ✓ 1 zapallito italiano grande cortado en tiras (usar solo la parte de afuera de la cáscara)<br><br>
      ✓ ½ taza de Salsa Teriyaki <br><br>
      ✓ 2 cucharadas de Mix de Sésamos <br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. En un wok a fuego alto, calentar 1 cucharada de aceite. Agregar el brócoli y cocinar un minuto.<br><br>
        2. Añadir el agua, cocinar hasta que se haya evaporado y el brócoli esté cocido al dente. Sacar de la sartén y reservar.<br><br>
        3. Agregar el resto del aceite y el aceite de sésamo al wok. Incorporar los cebollines y el jengibre, cocinar por un par de minutos.<br><br>
        4. Añadir las tiras de pimentón y cocinar hasta que estén al dente, 2 a 3 minutos.<br><br>
        5. Agregar los champiñones y las tiras de zapallitos, cocinar hasta que estén cocidos y blandos.<br><br>
        6. Incorporar el brócoli ya cocido y la Salsa Teriyaki, revolver por 30 segundos. Servir caliente, espolvoreado de Semillas de Sésamo.<br><br>
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 15 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/panquequeacelga.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>PANQUEQUES DE ACELGA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

 
      Panqueques:<br><br>

      ✓ 300 gr de hojas de acelga (sin tallo ni nervadura gruesa)<br><br>
      ✓ 500 ml de leche entera<br><br>
      ✓ 2 huevos<br><br>
      ✓ 200 gr harina<br><br>
      ✓ 1 cucharadita de aceite<br><br>
      ✓ ½ cucharadita de Sal de Mar <br><br>
      ✓ ¼ cucharadita de Pimienta Blanca Molida <br><br>
      

      Salsa de tomates:<br>

      ✓1 tarro grande de tomates al natural (820 gr)<br><br>
      ✓1 cucharada de aceite de oliva<br><br>
      ✓1 taza de vino blanco<br><br>
      ✓2 hojas de laurel<br><br>
      ✓1 cucharadita de Orégano Entero<br><br>
      ✓½ cucharadita de Tomillo<br><br>
      ✓½ cucharadita de Perejil Deshidratado<br><br>
      ✓½ cucharadita de Ajo en Polvo<br><br>
      ✓1 cucharadita de Cebolla en Polvo <br><br>
      ✓½ cucharadita de Mix de Pimientas<br><br>
      ✓ Sal de Mar a gusto<br><br>
      

      Relleno:<br>

      700 gr de hojas de acelga (sin tallo ni nervadura gruesa)<br><br>
      1 cebolla picada en cubos pequeños<br><br>
      ½ cucharadita de ajo en polvo<br><br>
      ½ cucharadita de ají de color<br><br>
      1 cucharadita de Orégano Entero<br><br>
      400 gr de champiñones picado en cuadrados pequeños<br><br>
      500 gr de ricota<br><br>
      ½ taza de queso parmesano rallado<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Partir preparando la salsa de tomates. Calentar el aceite en una olla mediana a fuego medio bajo. Agregar el resto de los ingredientes y cocinar, semi tapado, hasta que la salsa esté espesa; como 20 minutos. Una vez lista sacar las hojas de laurel.<br><br>
        2. Mientras tanto, preparar los panqueques. Poner las hojas de acelga en un bol y tapar con agua hirviendo, dejar reposar por 5 minutos. Luego pasar por agua helada, colar y estrujar muy bien. Poner la acelga en la licuadora junto al resto de los ingredientes de los panqueques. Licuar hasta tener un batido verde y homogéneo.<br><br>
        3. Calentar una sartén de 20 a 22 cm antiadherente, y hacer los panqueques usando como ½ taza de batido. Deben salir entre 15 a 16 panqueques.<br><br>
        4. Para el relleno, Poner las hojas de acelga en un bol y tapar con agua hirviendo, dejar reposar por 5 minutos. Luego pasar por agua helada, colar y estrujar muy bien. Moler la acelga y reservar.<br><br>
        5. Cocinar la cebolla en aceite hasta que la verdura esté dorada. Agregar los aliños y los champiñones, cocinar hasta que los champiñones estén cocidos y no haya líquido en la preparación. Mezclar la ricota con el queso parmesano, acelga molida y mezcla de champiñones. Rellenar los panqueques usando 2 cucharadas de relleno.<br><br>
        6. Calentar el horno a 180C.<br><br>
        7. En una fuente, poner una capa fina de salsa de tomates, poner los panqueques rellenos, tapar con más salsa de tomates y hornear por 20 minutos o hasta que los panqueques estén calientes. Servir inmediatamente, espolvorear con queso parmesano si lo desean.<br><br>
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 55 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>6 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/hummus.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>HUMMUS
      </b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

 
      ✓ 1 ½ cucharada de tahini (pasta de sésamo que venden en supermercados)<br><br>
      ✓ 2 cucharadas de jugo de limón<br><br>
      ✓ 2 ½ cucharadas de aceite de oliva<br><br>
      ✓ ½ diente de ajo picado chico<br><br>
      ✓ 1 cucharadita de sal<br><br>
      ✓ ½ cucharadita de Comino Molido<br><br>
      ✓ 1 ½ taza de garbanzos cocidos al dente<br><br>
      ✓ 2 a 4 cucharadas de agua<br><br>
      ✓ 1 cucharadita de aceite de oliva para rociar<br><br>
      ✓ 1 cucharadita de Pimentón Paprika <br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Poner la pasta de tahini y jugo de limón en una procesadora o licuadora, procesar por un minuto. Agregar aceite, ajo, sal y Comino Molido, y procesar hasta integrar.<br><br>
        2. Agregar los garbanzos con 2 cucharadas de agua y procesar hasta tener una pasta cremosa. Si estuviera muy espeso agregar más agua hasta conseguir la consistencia deseada.<br><br>
        3. Poner el hummus en un bol, rociar con aceite de oliva y espolvorear con Pimentón Paprika. Acompañar con pan pita.<br><br>
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 10 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>
</ion-content>