<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/recetas"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-avatar >
            <ion-img src="/assets/paulocantante.jpg"></ion-img>
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    
    
      
    </ion-header>
    
  </ion-toolbar>
</ion-header >


<ion-content class="ion-padding" color="danger">
  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/arrozchaufa.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>ARROZ CHAUFA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 6 cucharadas de aceite vegetal<br><br>
      ✓ 2 huevos, levemente batidos<br><br>
      ✓ ½ cucharadita de Sal de Mar<br><br>
      ✓ ¼ cucharadita de Pimienta Blanca <br><br>
      ✓ 2 pechugas de pollo deshuesadas, picadas en tiras<br><br>
      ✓ 1 cucharada de Condimento para pollo <br><br>
      ✓ 3 cebollines, picados en rodajas finas (parte blanca y verde por separado)<br><br>
      ✓ 1 cucharada de Jengibre Molido<br><br>
      ✓ ½ taza de pimentón rojo, picados en cuadraditos pequeños<br><br>
      ✓ 4 taza de arroz cocido (basmati o pre graneado)<br><br>
      ✓ 3 cucharadas de Salsa de Soya<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Calentar 2 cucharadas de aceite en una sartén mediana. Aliñar los huevos batidos con la sal de mar Gourmet y la pimienta blanca Gourmet. Vaciar los huevos en la sartén y cocinar como si fuera un panqueque delgado. Dar vuelta y cocinar por el otro lado. Cortar en tiras. Reservar<br><br>
        2. En un wok o sartén profunda, calentar dos cucharadas de aceite. Sazonar el pollo con el condimento para pollo Gourmet y luego agregar a la sartén. Cocinar hasta que el pollo esté cocido. <br><br>Sacar de la sartén y reservar. En el mismo wok, agregar las dos cucharadas de aceite restante, añadir el cebollín (parte blanca), 
        jengibre y pimentón rojo. Cocinar hasta que las verduras estén blandas; 2 a 3 minutos. Incorporar el arroz, pollo y calentar. Añadir la salsa de soya Gourmet y la mitad de la parte verde de cebollín, cocinar hasta que esté todo bien integrado y el arroz caliente. Agregar el huevo picado y servir inmediatamente, espolvorear con el resto del cebollín.<br><br>
    
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 15 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/chacarero.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>CHACARERO</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 3 bistec de carne posta rosada<br><br>
      ✓ ½ cucharada de Condimento para Carne<br><br>
      ✓ ½ cucharadita de Sal de Mar<br><br>
      ✓ 1 cucharada de aceite vegetal o de oliva<br><br>
      ✓ 1 pan de hamburguesa o frica<br><br>
      ✓ 3 cucharadas de mayonesa<br><br>
      ✓ ½ taza de porotos verdes cocidos<br><br>
      ✓ 1 tomate chico en rodajas<br><br>
      ✓ Ají verde a gusto para servir.<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Aliñar la carne con la sal de mar Gourmet y el condimento para carne Gourmet. Calentar el aceite en una sartén y cocinar los bistec hasta que estén dorados por ambos lados.<br><br>
        2. Partir el pan por la mitad y tostar en la misma sartén que se cocinó la carne (por el lado que se cortó).<br><br>
        3. Untar el pan con mayonesa, poner la carne en una mitad, luego unas rodajas de tomates, ají verde y terminar con los porotos verdes. Tapar con la otra tapa de pan.<br><br>
        4. Servir inmediatamente.<br><br>
    
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 15 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>1 SANGUCHE</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/chupejaiva.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>CHUPE DE JAIBA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 8 rebanadas de pan blanco sin orillas<br><br>
      ✓ 240ml de leche<br><br>
      ✓ 120ml de crema<br><br>
      ✓ 1 cebolla<br><br>
      ✓ 1 pimentón rojo<br><br>
      ✓ 1 pimentón verde<br><br>
      ✓ 1 diente de ajo picado fino<br><br>
      ✓ 1 cdta de Ají de Color <br><br>
      ✓ 40ml de aceite<br><br>
      ✓ 2 cdas de Condimento para Pescado <br><br>
      ✓ 200ml de vino blanco<br><br>
      ✓ 500gr de Jaiba<br><br>
      ✓ 100gr de queso mantecoso rallado<br><br>
      ✓ Pimienta Negra Molida a gusto<br><br>
      ✓ Sal a gusto<br><br>
      ✓ 100gr de queso parmesano rallado para gratinar<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. En una fuente colocar las rebanadas de pan y remojar con la leche y la crema.<br><br>
        2. Cortar la cebolla y ambos pimentones en cuadraditos. Luego, sofreírlos en una olla con un poco de aceite junto con el ajo y el Ají de Color Gourmet. Condimentar con el Condimento para Pescado Gourmet y revolver. Cocinar hasta que la cebolla esté blanda. Agregar el vino blanco y dejar reducir.<br><br>
        3. Agregar las jaibas.  Luego, agregar el pan remojado, junto con la crema y leche restante y cocinar por un minuto. Finalmente, agregar el queso mantecoso rallado y salpimentar a gusto. Mezclar bien.<br><br>
        4. Colocar el chupe en  pocillos de greda o pocillos resistente para el horno. Espolvorear con queso parmesano rallado.<br><br>
        5. Calentar y gratinar el chupe en un horno a 200 ºC y servir de inmediato.<br><br>
    
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 40 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 PORCIONES</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/chorrillana.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>CHORRILLANA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 2 cebollas en corte pluma<br><br>
      ✓ 2 cucharadas de Salsa de Soya <br><br>
      ✓ 600g de posta negra cortada en tiras<br><br>
      ✓ 3 cucharadas de Salsa Inglesa <br><br>
      ✓ 1 1/2 cucharadas de Condimento para Carne<br><br>
      ✓ 1 diente de ajo picado finito<br><br>
      ✓ 1/2 cucharadita de Merquén (opcional)<br><br>
      ✓ chorizos picados en redondelas de 1/2 cm<br><br>
      ✓ 12 papas peladas y cortadas en palos<br><br>
      ✓ aceite para freír<br><br>
      ✓ Sal de Mar<br><br>
      ✓ Mix de Pimientas<br><br>
      ✓ 4 huevos<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Calentar 1 1/2 cucharadas de aceite en un sartén, agregar la cebolla y cocinar hasta que esté blanda y dorada. Agregar la Salsa de Soya Gourmet y cocinar por 2 minutos más o hasta que la cebolla esté caramelizada. Sacar la cebolla y reservar (mantenerla caliente). No lavar el sartén se usará para cocinar la carne.<br><br>
        2. Mezclar la carne picada con la Salsa Inglesa Gourmet, Condimento para Carne Gourmet,  Merquén Gourmet y el diente de ajo. Sobar la carne con las manos para integrar los sabores. <br>Calentar una cucharada de aceite en el sartén y cocinar la carne, revolviendo, hasta que esté cocida y dorada. Sacar la carne del sartén y reservar caliente. En el mismo sartén agregar el chorizo y cocinar hasta que esté dorado por ambos lados. Juntar con la carne y mantener caliente.<br><br>
        3. Para las papas fritas: calentar bastante aceite en una olla ancha o sartén hondo. Una vez caliente el aceite, agregar las papas y cocinar hasta que esté levemente doradas. Sacar del aceite y dejar sobre toalla de papel. Sazonar a gusto con Sal de Mar Gourmet y Mix Pimientas Gourmet. Mientras tanto, cocinar 4 huevos fritos.<br><br>
        4. Para armar los platos, dividir las papas entre 2 platos grandes. Agregar la cebolla caramelizada, luego la carne con el chorizo para terminar con 2 huevos por plato.<br><br>
    
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 60 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>6 PORCIONES</b><br><br>
    </ion-card-content>
  </ion-card>
  
</ion-content>