<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/recetas"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-avatar >
            <ion-img src="/assets/paulocantante.jpg"></ion-img>
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    
    
      
    </ion-header>
    
  </ion-toolbar>
</ion-header >
<ion-content class="ion-padding" color="dark">
  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/tragocosmopolitan.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>COSMOPOLITAN</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 1 parte de vodka<br><br>
      ✓ 1/2 parte de jugo de limón<br><br>
      ✓ 1/2 parte de jugo de arándanos<br><br>
      ✓ 1/2 parte de licor de naranja<br><br>
      ✓ Hielo<br><br>
      ✓ Rodaja de limón.<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Mezclar todos los ingredientes en una coctelera con hielo.<br><br>
        2. Servir en un vaso de cóctel y decorar con una rodaja de limón<br><br>
        
        </b></p><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/borgoña.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>BORGOÑA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 500 gr de frutillas.
      ✓ 4 cucharadas de azúcar.
      ✓ 2 cucharadas de licor de naranjas.
      ✓ 1 botella de vino tinto (750 ml).
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Lavar las frutillas, sacarles las hojas verdes y laminarlas.<br><br>
        2. Poner las frutillas en un recipiente con el azúcar y el licor; dejar reposar por 30 minutos para que las frutillas suelten su jugo.<br><br>
        3. Poner las frutillas junto a su jugo en un jarro y vaciar el vino tinto sobre ellas. Revolver la mezcla asegurándose que el azúcar se haya disuelto.<br><br>
        4. Agregar hielo y servir inmediatamente.<br><br>
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 35 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 A 5 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/colamono.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>COLA DE MONO</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 1 taza de agua<br><br>
      ✓ 5 Clavos de Olor Enteros<br><br>
      ✓ 1/2 cucharadita de Nuez Moscada Molida<br><br>
      ✓ 2 palos de Canela Entera<br><br>
      ✓ 2 cucharadas de café<br><br>
      ✓ 3/4 tazas de azúcar<br><br>
      ✓ 1 1/2 litro de leche<br><br>
      ✓ 1 1/2 tazas de agua ardiente<br><br>
      ✓ 1 cucharadita de Esencia de Vainilla<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. En una olla pequeña, hervir durante 10 minutos el agua junto con los Clavos de Olor Enteros Gourmet, la Nuez Moscada Molida Gourmet y la Canela Entera Gourmet.
         Luego retirar los clavos de olor y la canela del agua.<br><br>
        2. Añadir el café y el azúcar procurando que se disuelva completamente. Incorporar la leche de a poco e ir revolviendo con una cuchara, agregar la Esencia de Vainilla Gourmet y continuar revolviendo. 
        Luego apagar el fuego, agregar el agua ardiente y mezclar bien.<br><br>
        3. Guardar la mezcla en el refrigerador. Servir bien helado.<br><br>
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 20 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>8 PORCIONES</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/electroniclemonade.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>ELECTRIC LEMONADE</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

      ✓ 3 medidas de vodka<br><br>
      ✓ 2 medidas de curaçao azul<br><br>
      ✓ 2 medidas de Sour Mix<br><br>
      ✓ Hielo<br><br>
      ✓ 1 rodaja de limón para decorar<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Batir en una licuadora durante medio minuto, el contenido del Sour Mix sobre con agua fría.<br><br>
        2. Agregar el vodka y el curaçao, batir por medio minuto más.<br><br>
        3. Añadir hielo y batir por 1 minuto más.<br><br>
        4. Decorar con rodaja de limón.<br><br>
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 10 MINUTOS</b><br><br>
    </ion-card-content>
  </ion-card>
</ion-content>
