<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/recetas"
      color="primary"
      text="Volver"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-avatar >
            <ion-img src="/assets/paulocantante.jpg"></ion-img>
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    
    
      
    </ion-header>
    
  </ion-toolbar>
</ion-header >


<ion-content class="ion-padding" color="primary">
  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/tartaleta.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>TARTALETA DE FRUTAS</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>

 
      Para la masa:<br><br>

      ✓120 gr azúcar flor<br><br>
      ✓350 gr de harina<br><br>
      ✓200 gr mantequilla, en cubos<br><br>
      ✓1 yema<br><br>
      ✓1 a 2 cucharadas de agua helada<br><br>
       
      
      Crema pastelera:<br><br>
      
      ✓ 4 yemas<br><br>
      ✓ 2 cucharadas de maicena<br><br>
      ✓ ½ taza de azúcar<br><br>
      ✓½ litro de leche entera<br><br>
      ✓ 1 cucharadita de esencia de vainilla Gourmet<br><br>
       
      
      Cubierta:<br><br>
      
      ✓400 gr de frutos rojo como frutillas, cerezas, arándanos y frambuesas<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Para la masa poner el azúcar flor junto a la harina en un procesador de alimentos. 
        Agregar la mantequilla y procesar hasta tener migas. <br><br>Añadir la yema y procesar hasta tener una bola; agregando el agua necesaria para que se forme la masa. La masa también se puede hacer con las manos;
         primero formado las migas, sobando la mantequilla en la harina. Luego agregando el resto de los ingredientes para formar la masa.<br><br>

        2. Dividir la masa en dos y forrar dos moldes de tarta desmontable de 22 cm o hacer una grande y con el resto de la masa hornear galletitas. 
        Pinchar las masas en los moldes y refrigerar por al menos 30 minutos.<br><br>

        3. Mientras tanto preparar la crema pastelera. Batir las yemas con la maicena y 
        el azúcar hasta tener una mezcla cremosa. Calentar la leche sola en una olla y agregar 
        la esencia de vainilla Gourmet al final de la preparación de la crema.<br><br>

        4. Con la batidora al mínimo, agregar de a poco la leche caliente a la mezcla de yemas. 
        Volver toda la mezcla a la olla donde se calentó la leche. Cocinar a fuego medio/bajo, 
        sin dejar de revolver, hasta que la mezcla haya espesado. Vaciar la crema pastelera en un bol.<br><br>
        Luego poner el bol que contiene la crema pastelera sobre otro con hielo y agua (esto se llama baño maría 
        invertido). Revolver ocasionalmente hasta que la crema pastelera se haya enfriado.<br><br>

        5. Calentar el horno a 180°C.<br><br>

        6. Hornear las tartas por 20 a 25 minutos o hasta que la masa esté dorada. Dejar enfriar.<br><br>

        7. Desmoldar la tarta, rellenar con la crema pastelera y decorar con los frutos rojos<br><br>
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 45 MINUTOS + REFRIGERECIÓN</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>2 TARTAS DE 22 CM</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/mote.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>MOTE CON HUESILLO</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ 500 gr de huesillo<br><br>
      ✓ 2 litros de agua hervida<br><br>
      ✓ 2 palos de Canela Entera Gourmet<br><br>
      ✓ ½ taza de azúcar rubia<br><br>
      ✓ 1/3 paquete de chancaca<br><br>
      ✓ 2 a 3 tazas de mote fresco<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Lavar bien los huesillos y ponerlos con el agua hervida en un bol, tapar y dejar reposar toda la noche. 
        Al otro día, poner los huesillos con el agua de remojo, Canela Entera Gourmet, azúcar y chancaca en una olla. Cocinar a fuego medio hasta que los huesillos estén cocidos, 
        estarán blandos al pincharlos; 35 a 40 minutos. Enfriar y luego refrigerar hasta que estén bien helados.<br><br>

        2. En otra olla, cocinar el mote en agua por 3 a 4 minutos. Colar y enfriar el mote bajo el chorro de agua fría. Reservar.<br><br>

        3. Para servir, poner mote en el fondo de un vaso alto. Poner 3 a 4 huesillos y luego tapar con el jugo de los huesillos. Servir inmediatamente.<br><br>
       
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b>60 MINUTOS, MÁS UNA NOCHE DE REMOJO</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>4 A 6 PERSONAS</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/panquequemanjar.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>PANQUEQUES CON MANJAR Y CREMA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ 3 tazas de leche Entera<br><br>
      ✓ 2 tazas de harina<br><br>
      ✓ 1 cucharada de aceite vegetal<br><br>
      ✓ 1 cucharadita de azúcar<br><br>
      ✓ 1 cucharadita de Sal de Mar<br><br>
      ✓ 1 huevo<br><br>
      ✓ Manjar<br><br>
      ✓ Crema Chantilly<br><br>
      ✓ 150 cc leche fría<br><br>
      ✓ Frutillas<br><br>
      ✓ Salsa de Chocolate<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Mezclar en un bol la leche con la harina , el aceite , el azúcar , sal y huevo .<br><br>
        2. Pincelar un sartén con aceite  y calentar a fuego medio. Verter ½ taza de la mezcla y cocinar 1 minuto, dar vuelta y cocinar 1 minuto más.<br><br>
        3. Para la Crema Chantilly, leer las instrucciones del sobre para hacerla<br><br>
        4. Rellenar la mitad de los panqueques con manjar y el resto con crema chantilly Gourmet. Decorar con salsa de chocolate Gourmet  y con frutillas.<br><br>
         
        
        </b></p><br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b> 20 MINUTOS</b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>8 PANQUEQUES APROX</b><br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/tresleches.jpg"></ion-img><br>
      <ion-card-title class="titulo"><b>COPAS DE TRES LECHES DE LÚCUMA</b></ion-card-title>
      <p class="ion-padding p"><b>
      <b><ion-icon slot="start" name="restaurant-outline"></ion-icon>INGREDIENTES</b><br><br>


      ✓ 1 sobre de mezcla lista Bizcocho de Vainilla<br><br>
      ✓ 200 ml de agua<br><br>
      ✓ 4 huevos<br><br>
      ✓ 1 litro de leche<br><br>
      ✓ 250 gr de puré de lúcuma<br><br>
      ✓ 3 huevos<br><br>
      ✓ ¾ taza de azúcar<br><br>
      ✓ 100 gr de nueces tostadas y picadas<br><br>
    
      Para el remojo:<br><br>
      
      ✓ 1 tarro de leche condensada<br><br>
      ✓ 1 tarro de leche evaporada<br><br>
      ✓ 1 taza de crema larga vida<br><br>
      </b></p>

      <p class="ion-padding p"><b>
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>PREPARACIÓN<br><br>

        1. Preparar el bizcocho de vainilla Gourmet siguiendo las instrucciones del paquete.<br><br>
        2. Preparar el remojo, juntando todos los ingredientes en un recipiente y revolver hasta incorporar bien.<br><br>
        3. Poner un pedazo de bizcocho en 8 copas medianas, remojar muy bien con las tres leches.<br><br>
        4. Poner una capa de puré de lúcumas (si el puré de lúcumas no tiene azúcar, opcionalmente endulzar levemente).<br><br>
        5. Tapar con otro pedazo de bizcocho y volver a remojar con tres leche. Refrigerar al menos 30 minuto.<br><br>
        6. Poner las claras en un bol limpio. Batir las claras hasta que esté espumosas. Ir agregando la azúcar de a una cucharada y batir hasta tener un merengue duro.<br><br>
        7. Agregar las nueces en forma envolvente.<br><br>
        8. Decorar el postre con el merengue de nueces.<br><br>
        9. Refrigerar hasta servir.<br><br></b></p>

        <p class="nota"><b>Nota</b></p> <p class="p"><b>Se puede reemplazar el merengue preparado por 1 sobre de merengue, siguiendo las instrucciones del paquete para prepararlo.</b></p><br><br>
       
         
        
        <br><br>
        <ion-icon slot="start" name="time-outline"></ion-icon><b>1 HORA </b><br><br>
        <ion-icon slot="start" name="people-outline"></ion-icon><b>8 COPAS</b><br><br>
    </ion-card-content>
  </ion-card>
</ion-content>