.p{
    color: black;
    font-weight: 100%;
    font-size: 100%;
    text-align: justify;
}

.titulo{
    color: orangered;
    font-size: 50;
    text-align: center;
}

.nota{
    color: red;
    font-weight: 100%;
    font-size: 100%;
    text-align: justify;
}